@import "tailwindcss";

@font-face {
  font-family: "github";
  src: url("github_font.ttf");
}

@theme {
  --color-github-dark: oklch(0.1763 0.014 258.36);
  --color-github-card-bg: oklch(0.2735 0.0179 251.92);
  --color-border-color: oklch(0.3837 0.0179 254.74);
  --color-secondary-text: oklch(0.5419 0.0151 251.66);
  --color-primary-text: oklch(1 0 0);
  --color-text-bar: oklch(0.2198 0.0182 255.71);
  --color-text-bar-border: oklch(0.3837 0.0179 254.74);
  --color-text-url-border: oklch(0.5686 0.2023 259.67);
  --color-btn-primary: oklch(0.546 0.1474 146.26);
  --color-btn-border: oklch(0.6098 0.1316 147.68);
  --color-btn-hover: oklch(0.5761 0.1541 146.04);
  --font-github: github;
}

.card {
  width: 400px;
  height: 250px;
  background-color: var(--color-github-card-bg);
  border-radius: 24px;
  border-color: var(--color-border-color);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px 10px rgb(34, 34, 34);
}